[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
author = [{name = "Nooch98"}]
readme = "README.md"
license = "MIT"
requires-python = ">= 3.8"
